@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
-------------------------------
Pequenas tela: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desltop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width:768px) and (max-width:992px){

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    #login{
        width: 80vw;
    }

    #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario{
        float:right;
        width:70%;
    }
}

@media screen and (min-width:992px){

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    #login{
        width: 992px;
    }

    #imagem{
        float:right;
        width: 48%;
        height: 100%;
    }

     #formulario{
        float:left;
        width:49%;
    }

    #formulario p {
        font-size: 1.2em;
    }



}